h1{
    color:black;
    font-size: 5rem;
}
#second{
    color:white;
}
#Thrid{
    color:white;
}
#Four{
    color:red;
    font-size: 1.5rem;
    font-weight: 800;
}
#First{
    font-size: 1.5rem;
    font-weight: 800;
}
#jordan{
    font-size: 1.5rem;
    font-weight: 800;
    font-family: 'Oswald', sans-serif;
}
